.project-container {
    padding: 40px 20px;
}

.project-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.project-grid {
    display: grid;
    margin-top: 50px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.project-card {
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: transform 0.2s ease-in-out;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.project-card:hover {
    transform: scale(1.05);
}

.project-image {
    width: 100%;
    border-radius: 10px;
}

.project-link {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    color: black;
    background-color: #64FFDA;
    text-decoration: none;
    border-radius: 5px;
}

