.skills-container{
    padding-left: 20px;
}

.skills-container .skills-heading {
    font-weight: 500;
    font-size: xx-large;
}

.skills-left{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.skills-left .skills{
    width: 150px;
    background: rgba(255, 255, 255, 0.1);
    height: 150px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-bottom: 30px;
}
